<!-- HEADER -->
<header class="app-header d-flex justify-content-between align-items-center px-4 py-4" style="height: 65px;">
  <div class="header-right">
    <div class="d-flex gap-2 align-items-center">
      <a href="/profile">
        <img src="/images/icons/userlogin.png" loading="lazy" alt="User" class="user-thumb"
          style="height: 28px; width: 28px; border-radius: 50%;">
      </a>
      <div style="font-size: 14px;">
        <div class="text-white" style="line-height: 1.2; margin-top: 2px;">Halo Ridwan {{name}}</div>
        <div class="text-white" style="font-size: 11px;">Penumpang</div>
      </div>
    </div>
  </div>
  <div class="header-right">
    <div class="d-flex gap-4 align-items-center">
      <div>
        <a href="">
          <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_1_472" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="2" width="25"
              height="22">
              <path d="M5.0625 9L19.125 3.375L21.375 9" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M2.25 9H24.75V12.375C23.0625 12.375 21.375 13.5 21.375 15.4688C21.375 17.4375 23.0625 19.125 24.75 19.125V22.5H2.25V19.125C3.9375 19.125 5.625 18 5.625 15.75C5.625 13.5 3.9375 12.375 2.25 12.375V9Z"
                fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M9.5625 14.2791H12.9375M9.5625 17.6541H17.4375" stroke="black" stroke-width="2"
                stroke-linecap="round" />
            </mask>
            <g mask="url(#mask0_1_472)">
              <path d="M0 0H27V27H0V0Z" fill="white" />
            </g>
          </svg>
        </a>
      </div>
      <div>
        <a href="">
          <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.8183 9.15255C12.9673 3.05457 11.4842 0.738162 6.82628 0.835093C5.16692 0.868646 5.56457 -0.360394 4.29911 0.105622C3.03614 0.571638 4.12029 1.25389 2.82732 2.30895C-0.801509 5.27032 -0.467637 8.00926 1.21548 14.5372C1.92449 17.2873 -0.493897 17.4215 0.462703 20.0859C1.16171 22.0295 6.31359 22.8435 11.7481 20.8402C17.1838 18.8357 20.6088 14.8578 19.9098 12.9142C18.9532 10.2486 17.02 11.72 15.8183 9.15255ZM11.1591 19.1974C6.30484 20.9869 2.31588 19.9355 2.14707 19.467C1.85696 18.6593 3.71389 15.9676 9.26342 13.9208C14.8129 11.8741 17.9103 12.6334 18.2342 13.5343C18.4255 14.0675 16.0146 17.4066 11.1591 19.1974ZM9.59854 14.8553C7.06136 15.7911 5.29822 16.8611 4.1553 17.8242C4.95935 18.5499 6.4649 18.7264 7.96419 18.1734C9.87364 17.4712 11.0478 15.8545 10.5839 14.5645L10.5639 14.5198C10.25 14.6217 9.92866 14.7323 9.59854 14.8553Z"
              fill="white" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>