<!-- Modal -->
<div class="modal fade" id="tujuanModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content border-0 rounded-0">
      
      <!-- Header -->
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold" id="cityModalLabel">Pilih Kota</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Search -->
      <div class="px-3 pb-2">
        <div class="input-group">
          <span class="input-group-text bg-white border-end-0">
            <i class="bi bi-search"></i>
          </span>
          <input type="text" id="searchCity" class="form-control border-start-0" placeholder="Cari kota...">
        </div>
      </div>

      <!-- City List -->
      <div class="modal-body p-0">
        <ul class="list-group list-group-flush" id="cityList">
          <li class="list-group-item list-item-select">Jakarta</li>
          <li class="list-group-item list-item-select">Surabaya</li>
          <li class="list-group-item list-item-select">Bali</li>
          <li class="list-group-item list-item-select">Batam</li>
          <li class="list-group-item list-item-select">Medan</li>
          <li class="list-group-item list-item-select">Makassar</li>
        </ul>
      </div>
    </div>
  </div>
</div>
